extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 David Adams

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | For more than a decade, I’ve worked as a Product Designer focused on mobile and web applications. I had entered design with a background in coding and web development,
            | and “programming thinking” informed my approach to design. I also had the advantage of knowing enough about coding that I could work especially well with iOS and web
            | developers. Now, I’m bringing this extensive product development experience back to coding as I focus again on software development. Given my experience with client
            | applications, as well as my skill in holistic system design, I’m focused on Full Stack development. My long-standing expertise with HTML, CSS, and JavaScript is enhanced
            | by a robust product design background, which now in turn informs my work with modern frameworks and server-side applications.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML/CSS
          li REST APIs
          li Node.js
          li Express
          li Pug templating
          li User Interface Design
          li Information Architecture
          li Copy writing and editing
        h6 Contact Info

        ul
          li 415-671-9468
          li davidonawire@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/designbydavidadams/') LinkedIn
        a.button.expanded(href='https://github.com/davidonawire') GitHub
        a.button.expanded(href='https://twitter.com/davidonawire') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  