:root {
  --main-bg-color: #e7dfd5;
  --section-border: #dcd3c8;
  --highlight-color: #84a9ac;
  --link-color: #3b6978;
  --dark-on-light: #635545;
  --highlight-text: #886c4d;
  --dark-bg-text: #8f9fa8;
  --dark-bg-color: #204051;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  color: var(--dark-on-light);
  background-color: var(--main-bg-color);
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: var(--dark-on-light);
    line-height: 1.7;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: var(--highlight-text);
}

.button{
  background-color: var(--link-color);
}

.button:hover{
  background-color: var(--dark-bg-color);
}

a{
  color: var(--link-color);
}

a:hover{
  color: var(--dark-bg-color);
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 0;
  box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.24);
  line-height: 0;
  animation-name: fade-in;
  animation-duration: .75s;
}

.portfolio-me{
  padding: 20px;
  background: var(--dark-bg-color);
  color: var(--main-bg-color);
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: var(--dark-bg-text);
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: var(--highlight-color);
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #9ac8cc;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid var(--section-border);
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
    animation-name: fade-in;
    animation-duration: .75s;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: var(--dark-on-light);
}

.portfolio-bio{
    line-height: 25px;
}
